<li>


  <%= comment.body %> -
  <small>Submitted <%= time_ago_in_words(comment.created_at) %> ago by <%=link_to(comment.user.username,user_profile_path(comment.user.id))%></small>

  <%= form_for [comment, Comment.new] do |f| %>
      <%= f.text_area :body, placeholder: "Add a Reply" %><br/>
      <%= f.submit "Reply"  %>
      <%= hidden_field_tag(:type, 'comment') %>
      <% end %>

  <ul>
      <%= render partial: 'comments/comment', collection: comment.comments %>
  </ul>

</li>